.App{
  background-color: white;
  width: 60%;
  height: 500px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #00000005;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search{
  border: 0px;
  border-bottom: 1.3px solid #80808038;
  box-shadow: none;
  width: 100%;
  margin-top: 15px;
}

.search:focus{
  box-shadow: none;
  border: 1px solid white;
}

.row{
  margin: 0;
}

.btn{
  margin-top: 15px;
}

.img{
  border-radius: 50%;
  padding: 10px;
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid #00000026;
}

.tag{
  margin-right: 10px;
}

.show{
  font-size: 30px;
}

.show:hover{
  cursor: pointer;
}